@media only screen and (min-width: 800px) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

    .header img {
    width: 250px;
    height: auto;
    }

    .navigation {
    display: block;
    width: 100%;
    margin: 20px;

    }

    .navigation a {
    font-size: 1.2rem;
    }

    h1 {
        text-align: center;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
    }

    .footer-cards {
        text-align: left;
    }

    .footer-cards.logo {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    #cards.list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #cards.list section {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        font-size: 10px;
        margin: 0.5rem auto;
        padding: 0.5rem;
        justify-content: space-around;
        width: 90%;
    }

    #cards.list section p {
    display: block;
    order: 3;
    }

    #cards.list section img {
        width: 200px;
        height: 150px;
        flex-shrink: 0;
        object-fit: cover;
        margin-right: auto;
        order: 1;
    }


    #cards.list section h2 {
        font-size: 20px;
        margin: 0;
        order: 2;
    }

    #cards.list section a {
        padding: 20px;
        font-size: 15px;
        order: 4;
    }

  .membership-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;                      
    align-items: start;   
    background-color: #F1F5F9;   
    margin: 10px 0;    
    border-radius: 10px;
    border: 2px solid var(--primary-color);   
  }


  .design,
  .membership-cards {
    width: 100%;
    margin: 10px 0;
  }

  .design,
  .membership-cards {
    border: none;
  }


  

}