* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    margin: 0 auto;

}

header {
    background-color: #191970;
    color: #ffffff;
    padding: .2rem;
    text-align: center;
    border-radius: 6px 6px 0 0;
}

footer {
    background-color: #191970;
    color: #ffffff;
    padding: .2rem;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

h1 {
    font-size: 2.5rem;
}

footer p {
    font-size: 1.1rem;
}

main {
    padding: 10px;
    min-height: 20rem;
    margin-bottom: 10px;
    background-color: #f0f4f8;
}

.pg fieldset {
    margin: 2rem 0;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: .5rem;
}

.pg fieldset .italic {
    font-size: .9rem;
    font-style: italic;
    font-weight: normal;
}

.pg legend {
    color: #191970;
    font-size: 1.1rem;
    padding: .5rem;
    font-weight: bold;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 0 0 #191970;
    box-sizing: border-box;
    margin-top: 10px;
}

.pg label {
    display: block;
    padding-top: .8rem;
    font-size: .9rem;
}

.pg input[type="text"],
.pg input[type="date"],
.pg select,
.pg textarea {
    background-color: #ffffff;
    display: block;
    border: solid 1px #999999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 500px;
    color: #191970;
    font-size: 1rem;
}

.rating-container {
    display: flex;
    gap: 10px;
    margin-top: -1rem;
    justify-content: space-around;
}

.pg input[type="submit"] {
    background-color: #191970;
    color: #ffffff;
    border: none;
    padding: 1.5rem;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    width: 96%;
    max-width: 500px;
    box-shadow: inset 0 0 0 0 #191970;
    transition: box-shadow 0.3s ease;
}

.pg input[type="submit"]:hover {
    background-color: #4597ea;
    color: #191970;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #191970;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    color: #555555;
    margin-top: 5px;
}

.required {
    color: #cc0000;
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

.pg input:required,
.pg select:required {
    border-left: solid 8px #cc0000;
}

.pg input:required:valid,
.pg select:required:valid {
    border-left: solid 8px #00cc00;
}

.rating-container:has(input[type="radio"]:required:invalid) {
    border-left: 8px solid #cc0000;

}

.rating-container:has(input[type="radio"]:required:valid) {
    border-left: 8px solid #00cc00;

}

@media screen and (max-width: 768px) {

    .pg input[type="text"],
    .pg input[type="date"],
    .pg select,
    .pg textarea {
        width: 100%;
    }
}